body{
    color: white;
}

.choice-container{
    /* display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: linear-gradient(90deg,rgb(87, 12, 114) 0%,rgb(110, 81, 161) 100%);
    font-size: 3rem;
    min-width: 80rem;
    border-radius: 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 150px;
    width: 100%;
    border: none;
    outline: none;
    color: #333;
    border-radius: 5px;
    margin: 25px 0;
    background: linear-gradient(90deg,rgb(233, 206, 5) 0%,rgb(236, 226, 169) 100%);    
}

.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(219, 241, 18, 0.6);
    transition: transform 150ms;
    transform: scale(1.02);
}

.choice-text{
    padding: 2rem;
    width: 100%;
}

.correct{
    background: linear-gradient(32deg, rgba(11, 223, 36) 0%, rgb(41, 232, 111) 100%);
}

.incorrect{
    background: linear-gradient(32deg, rgba(230, 29, 29, 1) 0%, rgb(224, 11, 11, 1) 100%);
}

p{
    color: #333;
}
